<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L] 
</IfModule>

php_value post_max_size 300M
php_value upload_max_filesize 500M
php_value memory_limit 3000000M
php_value max_execution_time 259200
php_value max_input_time 259200
php_value session.gc_maxlifetime 1200